<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">
<head>
    <meta charset="UTF-8">
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="controller.js"></script>
    <title>To Do List</title>
</head>
<body ng-controller="ToDoListController">

<ul>
    <li ng-repeat="activity in todo">
        <h2>{{activity.desc}}</h2>
        <p>{{activity.date | date : 'short'}}</p>
    </li>
</ul>

<form ng-submit="addAct()">
    <input type="text" ng-model="newAct.desc" title="text">
    <input type="datetime-local" ng-model="newAct.date" title="date">
    <input type="submit" value="Save">
</form>
    <button ng-click="clean()">Clean</button>

</body>
</html>

